.book-detail{
    margin-top: 60px;
    height:400px;
    overflow: hidden;
}

.book-detail .book-image{
    float:left;
    vertical-align: middle;
}

.book-detail .descriptions{
    margin-top:10px;
    margin-left:20px;
    float:left;
    width:380px;
}

.ant-descriptions-item-content{
    font-size:14px !important;
    font-family:"Microsoft YaHei" !important;
}

.book-detail .descriptions .title .ant-descriptions-item-content{
    font-size:22px !important;
    font-family:"Microsoft YaHei" !important;
    font-weight: bold !important;

}

.price {
    color:red !important;
    font-size: 18px !important;
}

.inventory {
    margin-left:3px !important;
    color:#9e9e9e !important;
    font-size: 12px !important;
}

.status {
    color:#9e9e9e !important;
}

.button-groups{
    margin-top:4%;
    height:10%;
    text-align:center;
}