
.ant-layout, .ant-layout-footer{
    background: rgb(255, 255, 255) !important;
}

html,body,#root{
    width: 100%;
    height: 100%;
}

/* Header */
#logo {
    float: left;
    height: 64px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 64px;
    text-decoration: none;
    vertical-align: middle;
    border-style: none;
}

.logo-font {
    margin-top : 0.4em;
}

@media only screen and (max-width: 768px) {
    .ant-layout-header {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        float: initial;
    }
}

#header {
    position: fixed;
    z-index: 10;
    max-width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    width:100%;
}

#header-content{
    width:auto;
    margin-left:50px;
    margin-right:50px;
}


#avatar {
    float: right;
}

#avatar .name {
    margin-right: 10px;
    font-weight:bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.ant-layout-header {
    background: rgb(255, 255, 255) !important;
    padding: 0 !important;
}

/* Sider */

.mySider{
    border-left: 1px solid #e8e8e8 !important;
    border-right: 1px solid #e8e8e8 !important;
    position:fixed;
    height:100vh;
}



.sider {
    background: #ffffff;
    overflow: hidden !important;
    padding-left: 0 !important;
    padding-right:0 !important;


}

.ant-layout-has-sider{
    /* width:1000px; */
    margin:0 auto;
    margin-left: 40px;
}


.ant-layout, .ant-menu-inline, .ant-menu-inline-collapsed{
    height: 100%;
    border-right: 0 !important;

}

.ant-layout .ant-layout-has-sider > .ant-layout-content {
    overflow-x :visible !important;
}

.ant-layout-sider-children{
    position:fixed !important;
    width:180px;
}



.ant-layout-sider-trigger{
    position:relative;
    background: #ffffff !important;
}

.ant-layout-sider-trigger .anticon {
    color:#000000 !important;
}


.icon-font{
    font-size:18px
}

.foot-wrapper{
    height:20px;
}

.home-content {
    margin: auto;
    width: 78vw;
}

