.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.login-page {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/sjtu2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    z-index: 99;
}


.login-container {
    position:relative;
    max-width: 420px;
    margin: 40px auto 0;
}

.login-page .login-container .login-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 40px 15px 40px;
    backface-visibility: hidden;
    background: linear-gradient(30deg, rgba(53, 57, 74, 0) 0%, rgb(250, 250, 250) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
    box-shadow: -15px 15px 15px rgba(0,0,0,.4);
}

.ant-btn-primary,.ant-btn-primary:focus{
    background-color:#363636;
    border-color:#363636;
}

.ant-btn-primary:hover {
    background-color:#828282;
    border-color:#828282;
}

a {
    color:#363636;
}
a:hover {
    color:#828282;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus, .ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
    border: 1px solid #363636;
}


.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #363636;
    border: 1px solid #363636;
}
