<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>日程</title>
<link rel="stylesheet" type="text/css" href="../css/date.css">
</head>

<body>
    <div class="header" onclick="jumpHome()">
        <span><img src= "../images/sjtu-logo.png" height=200, width=200>
        <h2 style="color:#C8161E; font: '楷体'">上海交通大学运动会管理系统</h2></span>
    </div>
    <div class="nav">
        <ul>
            <li><a href="home.html">首页</a></li>
            <li><a class="active" href="date.html">日程安排</a></li>
            <li><a href="sign_up.html">参赛报名</a></li>            
            <li style="float:right"><a href="about.html">管理员界面</a></li>
        </ul>
    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td align="center" class="biaoti" height="60">运动会日程安排</td>
        </tr>
        <tr>
          <td align="right" height="25">2021-5-5 至 2021-5-6</td>
        </tr>
      </table>
      
      <table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center">
        <tr>
          <td width="30%" colspan="2" class="btbg font-center titfont"></td>
          <td width="20%" class="btbg font-center titfont" rowspan="2">开始时间</td>
          <td width="20%" class="btbg font-center titfont" rowspan="2">结束时间</td>
          <td width="30%" class="btbg font-center titfont" rowspan="2">比赛地点 </td>
        </tr>
        <tr>
          <td width="8%" class="btbg font-center">日期</td>
          <td width="22%" class="btbg font-center">比赛项目</td>
        </tr>
        <tr>
          <td width="7%" rowspan="8" class="btbg1 font-center">5.5</td>
          <td width="7%"  class="btbg2">男子单人100m初赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">男子单人200m初赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">女子单人100m初赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">女子单人200m初赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">男子铅球初赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">女子跳高初赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">4*100m班级赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">4*200m班级赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="7%" rowspan="8" class="btbg1 font-center">5.6</td>
          <td width="7%"  class="btbg2">男子单人100m决赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">男子单人200m初赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">女子单人100m决赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">女子单人200m决赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">男子铅球决赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">女子跳高决赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">跳大绳班级赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="btbg2">拔河比赛</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>

<script src="../js/jumpTo.js"></script>
</body>
</html>