<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-width=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/grid.css">
</head>

<body>
    <div class="header" onclick="jumpHome()">
        <span><img src= "../images/sjtu-logo.png" height=200, width=200>
        <h2 style="color:#C8161E; font: '楷体'">上海交通大学运动会管理系统</h2></span>
    </div>
    <div class="nav">
        <ul>
            <li><a class="active" href="home.html">首页</a></li>
            <li><a href="date.html">日程安排</a></li>
            <li><a href="sign_up.html">参赛报名</a></li>            
            <li style="float:right"><a href="about.html">管理员界面</a></li>
        </ul>
    </div>
    <div class="search d3">
        <form>
        <input type="text" placeholder="搜索比赛...">
        <button type="submit"></button>
        </form>
    </div>

    <div class="grid-container">
        <div class="grid-item" onclick="jumpDetail()">
            <img src="../images/news_pic1.jpg"></img><br>
            <span style="color:black; font-family:'楷体'; font-size:1em; padding-left:10px">交通大学第47届学生运动会盛大开幕</span><br>
        </div>  
        <div class="grid-item" onclick="jumpDetail()">
            <img src="../images/news_pic2.jpg"></img><br>
            <span style="color:black; font-family:'楷体'; font-size:1em; padding-left:10px">交通大学第45届学生运动会嘉宾会议顺利召开</span><br>
        </div>       
    </div>

    <div class="news">
        <h2 style="font-family:'Times New Roman', Times, serif; text-align: center;">新闻列表/News List</h2>    
        <ul id="newslist">    
            <li><a href="detail_news.html">上海交通大学第47届运动会盛大开幕</a></li><br>
    
            <li><a href="detail_news.html">上海交通大学第47届运动会盛大开幕</a></li><br>
    
            <li><a href="detail_news.html">上海交通大学第47届运动会盛大开幕</a></li><br>
    
            <li><a href="detail_news.html">上海交通大学第47届运动会盛大开幕</a></li><br>
    
            <li><a href="detail_news.html">上海交通大学第47届运动会盛大开幕</a></li><br>
    
            <li><a href="detail_news.html">上海交通大学第47届运动会盛大开幕</a></li><br>
        </ul>    
    </div>
    <div style="text-align: center;"><button class="button" onclick="addNews()">MORE</button></div>
    <script>
        function addNews() {
            let list = document.getElementById("newslist");
            list.innerHTML += '<li><a href="detail_news.html">上海交通大学第47届运动会盛大开幕</a></li><br>'
        }
    </script>
    <br><br>

    <script src="../js/jumpTo.js"></script>
</body>
</html>