<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>loginPage</title>

<link rel="stylesheet" href="../css/login.css">

</head>
<body>

<div class="login-box">
  <h2>登录</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>用户名</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>密码</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    <input type="submit" value="登录">
    </a><br>
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      <input type="submit" value="注册">
      </a>
  </form>
</div>

  
</body>
</html>
