<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>登录</title>

<link rel="stylesheet" href="../css/login.css">

</head>
<body>

<div class="login-box">
  <h2>登录</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>用户名</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>密码</label>
    </div>
    <a href="home.html">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      登录
    </a>
    <a href="registration.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      注册
    </a>
    <a href="" id="" class="">
      <p id="jAccount">通过jAccount登录</p>
      <img src="../images/jaccount.png" alt="">
    </a>
  </form>
</div>

  
</body>
</html>
