<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>注册</title>

<link rel="stylesheet" href="../css/login.css">

</head>
<body>

<div class="login-box">
  <h2>注册</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>昵称(用户名)</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>密码</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>姓名</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>手机号码</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>邮箱</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>性别</label>
    </div>
    <a href="registration.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      注册
    </a>
    <a href="login.html">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    返回
  </a>
  </form>
</div>

  
</body>
</html>
