.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 30px;
    gap: 28px 25px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    padding: 0;
    font-size: 30px;
    text-align: left;
    box-shadow: 0 3px 10px rgba(22, 22, 22, 0.6);
    border-radius: 3px;
}