.header {
    padding: 30px;
    text-align: center;
    background-image: url("../images/home-back.jpg");
    background-size: cover;
    background-repeat:no-repeat;
  }
  
.header h1 {
    color: white;
    font-size: 50px;
}

.header p {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #93d3c0;
}

body {background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;	  
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #93d3c0;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 19px;
	padding: 20px;
	width: 100px;
	height: 60px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0;
  }
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  .button span:after {
  content: '\00bb';  /* CSS Entities. 如果用的是 HTML Entities, 请改成 &#8594;*/
  position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  .button:hover span {
	padding-right: 25px;
  }
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }