* {box-sizing: border-box;}
body{margin: 0;}
div.search {padding: 25px 0;}
form {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
.d3 {background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: relative;	
	background-size: contain;
}
.d3 form {
  background: #A3D0C3;
  border-radius: 8px;
}
.d3 input, .d3 button {
  border: none;
  outline: none;
  background: transparent;
}
.d3 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.d3 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d3 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}